# Build files
/.svelte-kit
/build
/target
build_log.txt
build_output.txt
output.txt

# Dependencies
/node_modules

# Static files
/static
/static/workers
/static/assets

# System files
.DS_Store

# Lock files
Cargo.lock
/.specstory
