/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&display=swap');

/* @font-face {
    font-family: 'JetBrainsMono';
    src: url('assets/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Barlow';
    src: url('assets/fonts/Barlow/barlow-v12-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Barlow';
    src: url('assets/fonts/Barlow/barlow-v12-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: 'Barlow';
    src: url('assets/fonts/Barlow/barlow-v12-latin-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('assets/fonts/Barlow/barlow-v12-latin-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
} */

body {
    font-family: 'Barlow';

}

p {
    font-family: 'Barlow';
    font-size: medium;
    font-weight: 400;
    margin: 0px;

}

h1 {
    font-family: 'Barlow';
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
}

h2 {
    font-family: 'Barlow';
    font-weight: 500;

}

h3 {
    font-family: 'Barlow';
    font-weight: 400;
    margin-bottom: 30px;

}

h4 {
    font-family: 'Barlow';
    font-weight: 300;


}



:root {
    --primary-color: #ff6000;
    /*orange*/
    --secondary-color: #222831;
    /*black-ish*/
    --tertiary-color: white;
    --forth-color: #EEEEEE;
    /*white_v2 (?)*/
    --forth-color-v2: #c7c7c7;
    --fifth-color: #FFE6C7;
    /*white-orange*/
    --sixth-color: #FFA559;
    /*white-orange*/
    --seventh-color: black;
    /*black*/
    --red-wine: #D42160;
    --sky-blue: #6bc9e1;
    --green: rgb(55, 181, 55);
}



;

body,
button,
input,
textarea,
p,
h1,
h2,
h3,
h4 {
    color: var(--secondary-color);
    font-family: 'Barlow';
}

body {
    background: linear-gradient(90deg, var(--forth-color) 50%, var(--forth-color) 100%);
    min-height: 100vh;
    width: 100%;

}

a {
    text-decoration: none;
    align-items: center;
    color: var(--seventh-color);
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
}

a:hover {
    color: var(--primary-color);
}

.TextContrast {
    color: white;
}

.InputErrorMessage {
    color: var(--red-wine);
    font-style: italic;
    font-size: small;
}

.InputSuccessMessage {
    color: var(--green);
    font-style: italic;
    font-size: small;
}

.InputText {
    border: 1px solid var(--seventh-color);
    padding: 20px;
    font-family: 'Barlow';
    font-size: medium;
    height: fit-content;
}

.InputTextSmall {
    border: 1px solid var(--seventh-color);
    padding: 10px;
    font-family: 'Barlow';
    font-size: medium;
    height: fit-content;
}

.InputText:focus {
    border: 2px solid var(--primary-color);
    /* Change to orange when the input is focused */
    outline: none;
    /* Optional: removes the default focus outline */
}

.InputTextSmall:focus {
    border: 1px solid var(--primary-color);
    /* Change to orange when the input is focused */
    outline: none;
    /* Optional: removes the default focus outline */
}

.SmallSeparator {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.VerticallyAligned {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.HorizontallyAligned {
    display: flex;
    align-items: center;
    gap: 20px;
}

;

.InputWarningMessage {
    color: var(--sixth-color);
    font-style: italic;
    font-size: small;
}

.EditTextOption {
    color: var(--secondary-color);

    cursor: pointer;
    /* border-bottom: 2px solid var(--secondary-color); */

    padding-inline: 5px;
}

.EditTextOption:hover {
    color: var(--sky-blue);

    border-bottom: 2px solid var(--sky-blue);

}

.PaymentDetails {
    max-width: 100%;
    border: 1px solid var(--seventh-color);
    background-color: var(--fifth-color);
    box-shadow: 4px 4px 0px 0px var(--seventh-color);
    min-height: 30px;
    padding-block: 10px;
    padding-left: 10px;
    padding: 10px;
}

.HorizontalLine {
    align-self: center;
    width: 100%;
    height: 0px;
    border: 0.1px solid var(--seventh-color);
}

.VerticalLine {
    align-self: center;
    width: 0%;
    height: 100%;
    border: 0.1px solid var(--seventh-color);
}

.featureFlag {
    background-color: var(--green);
    color: white;
    border: 1px solid var(--tertiary-color);
    box-shadow: 2px 2px 0px 0px var(--tertiary-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
}

.ideaFlag {
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    box-shadow: 2px 2px 0px 0px var(--tertiary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
}

.solutionFlag {
    background-color: var(--sky-blue);
    border: 1px solid var(--tertiary-color);
    box-shadow: 2px 2px 0px 0px var(--tertiary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
}

.successStatusFlag {
    background-color: var(--green);
    color: white;
    border: 0px solid var(--tertiary-color);
    border-radius: 4px;
    font-weight: normal;
    height: fit-content;
    text-align: center;
}

.failureStatusFlag {
    background-color: var(--red-wine);
    color: white;
    border: 0px solid var(--tertiary-color);
    border-radius: 4px;
    font-weight: normal;
    height: fit-content;
    text-align: center;
}

.hover-message {
    visibility: hidden;
    width: 200px;
    position: absolute;
    background-color: var(--fifth-color);
    color: var(--seventh-color);
    border: 1px solid var(--seventh-color);
    box-shadow: 4px 4px 0px 0px var(--seventh-color);
    transform: translateX(-100px) translateY(-50px);
    text-align: left;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    /* Use opacity for fade-in effect */
    transition: opacity 0.3s;
}

.hover-container:hover .hover-message {
    visibility: visible;
    opacity: 1;
}

.content {
    width: 90%;
    max-width: 800px;
    text-align: left;
    margin: 20px auto 0 auto;
    padding: 0 15px;
    padding-bottom: 0 15px;
    /* padding: 0 20px; */
}

.notification-bell-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    /* border: 1px solid var(--tertiary-color); */
    border-radius: 400px;
    visibility: visible;
    transform: translateX(8px) translateY(-10px);
    z-index: 200;
    height: 20px;
    min-width: 20px;
    padding: 2px;
}

.idea-card {
    display: block;
    border: 1px solid var(--seventh-color);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 424px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    /* For desktop */
}

.idea-card_ultra_small {
    display: block;
    border: 1px solid var(--seventh-color);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 90px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.idea-card:hover {
    background-color: var(--forth-color);
}

.idea-card:active {
    box-shadow: none;
}

.idea-card-image-container {
    position: relative;
}

.idea-card-image {
    width: 100%;
    position: relative;
    aspect-ratio: 1200/628;
    object-fit: cover;
    overflow: hidden;
}

.idea-card-profile-picture {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--tertiary-color);
}

.idea-card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.idea-title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 150px;

}

.idea-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 0px;

}

.idea-card-title {
    color: var(--secondary-color);
    text-align: left;
    padding: 0;
    font-weight: 450;
    vertical-align: top;
    height: fit-content;
    margin-bottom: 0px;
    min-width: 80%;
    max-width: 80%;
    margin: 0px;
}

.idea-card-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    justify-content: center;
    color: var(--seventh-color);
    margin-top: 5px;
    text-align: center;

}

.idea-card-heart-icon {
    color: var(--red-wine);

}

.idea-card-subtitle {
    color: var(--secondary-color);
    text-align: start;
    font-size: small;
}

.idea-card-pledgers {
    font-size: small;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    color: var(--secondary-color);
}

.idea-card-pledgers-followers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.idea-card-pledgers-followers>.idea-card-followers {
    display: none;
}

.idea-card-created-at {
    font-size: small;
    text-align: left;
    font-style: italic;
    color: var(--secondary-color);
}

.idea-card-funding-bar {
    margin: 0px 0;
    display: flex;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .idea-card {
        width: calc(100% / 2 - 20px);
    }
}

body {
    margin: 0px;


}


@media (max-width: 830px) {
    .content {
        width: 90%;
        /* Use full width for very small screens */
        padding: 0 15px;
        padding-bottom: 0 15px;
        /* Reduce padding */
    }

    .idea-card {
        width: 100%;
    }

    /* Reset CSS */
    body {
        margin: 0px;

    }

    #image-scroller {
        min-width: 100%;
        /* Set width to 80% of the parent container */
        aspect-ratio: 1200 / 628;
        /* Maintain the aspect ratio */
        position: relative;
        /* Establish a positioning context for absolutely positioned children */
        overflow: hidden;
        /* Hide any overflowing content */
        background-position: 10%;

    }
}


@media (max-width: 480px) {
    .content {
        width: 100%;
        /* Use full width for very small screens */
        padding: 0 0px;
        /* Reduce padding */
    }

    /* Reset CSS */
    body {
        margin: 0;
    }

    #image-scroller {
        min-width: 100%;
        /* Set width to 80% of the parent container */
        aspect-ratio: 1200 / 628;
        /* Maintain the aspect ratio */
        position: relative;
        /* Establish a positioning context for absolutely positioned children */
        overflow: hidden;
        /* Hide any overflowing content */
        background-position: 10%;

    }

    .notification-bell-number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: var(--primary-color);
        color: var(--tertiary-color);
        border-radius: 400px;
        visibility: visible;
        transform: translateX(10px) translateY(-10px);
        z-index: 4000;
        height: 20px;
        min-width: 20px;
        padding: 2px;
    }

    .idea-card {
        width: 100%;
        height: 280px;
    }

    .idea-card-profile-picture {
        width: 40px;
        height: 40px;
    }

    .idea-card-title {
        font-size: 0.9rem;
        max-width: 100%;
        min-width: 100%;
    }

    .idea-card-subtitle,
    .idea-card-pledgers,
    .idea-card-created-at {
        font-size: 0.875rem;
    }

    .idea-card-subtitle {
        display: none;
    }

    .idea-card-header :last-child {
        display: none;

    }

    .idea-title-subtitle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 55px;

    }

    .idea-card-pledgers-followers :last-child {
        display: block;
    }
}